.rh,
.technique,
.security {
  width: auto;
  margin-bottom: 1rem;
}
.categorie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.Titre_de_categories {
  margin-bottom: 0.8rem;
  font-size: 40px;
}
.categories img {
  width: 4rem;
  height: 4rem;
}
.categories {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

@media screen and (min-width: 431px) {
  .Categories_annonce {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 2rem;
  }
}
