.row_following {
  width: 100%;
}

.favorite-offers {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  overflow-x: visible;
  overflow-x: auto;
}

.Block_following {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}

.header_fav {
  margin-right: 86%;
  margin-top: 2rem;
  font-size: 18px;
}
