.connection {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background: #eae0d5;
}

.login-box {
  padding: 2rem 0 45px;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  color: #070707;
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid #0a0a0a;
  outline: none;
  background: transparent;
}

.btn-connection {
  margin-left: 4rem;
  padding-top: 10px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.ligne-btn-connection {
  margin-left: 4.1rem;
  border-top: 3px solid #000000;
  overflow: visible;
  text-align: center;
  width: 6.3rem;
}

.ray {
  margin-left: -0.1rem;
  width: 15rem;
  height: 15rem;
}

.inscription-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.creationcompte {
  letter-spacing: 3px;
}

.inscrire {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

p {
  margin-bottom: 1px;
}
