.Connection_Login {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background: #eae0d5;
}

.Login-Box {
  padding: 2rem 0;
}

.Login-Box .Login_User_Box .Mdp_Mail_btn {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  color: #070707;
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid #060606;
  background: transparent;
}

.btn_Connection_Login {
  margin-left: -1rem;
  padding-top: 10px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.ligne_btn_Connection_Login {
  margin-left: 4rem;
  border-top: 3px solid #000000;
  overflow: visible;
  text-align: center;
  width: 41%;
}

.ray {
  width: 8.8rem;
  height: 9rem;
  margin-top: 0.5rem;
  margin-left: 0.7rem;
}

.Login_inscription_box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.creationcompteya {
  letter-spacing: 3px;
}

.inscrireya {
  width: 16rem;
  margin-left: 1.2rem;
  padding-top: 10px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.Login_ligne_inscriptionya {
  margin-left: 3.1rem;
  border-top: 3px solid #000000;
  overflow: visible;
  text-align: center;
  width: 72%;
}

.Ray_Login {
  margin: 1rem 0 0 -0.1rem;
  width: 13rem;
  height: 12rem;
}
