.photoprofilad {
  width: 5rem;
  height: 6rem;
}
.filtration {
  margin-bottom: 1rem;
}
.bloc_card {
  display: block;
  width: 100%;
  margin-top: 10rem;
}
.affichagepageprofil1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.htwopageprofil1 {
  text-align: left;
  padding-left: 1rem;
}
