.photoprofilad {
  width: 5rem;
  height: 6rem;
}
.filtration {
  margin-bottom: 1rem;
}
.bloc_card {
  display: block;
  width: 100%;
  margin-top: 70px;
  /* padding-left: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.affichagepageprofil1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.htwopageprofil1 {
  text-align: left;
  padding-left: 1rem;
}
.css-5mc4xn-JoyGrid-root {
  justify-content: center !important;
}
