.firstname,
.lastname,
.email,
.password,
.matricule,
.phonenumber {
  color: #070707;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

/* ::placeholder {
  color: #070707;
} */
.inscribody-ya {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: #eae0d5;
}

.logorf {
  align-self: flex-start;
  width: 10rem;
  height: 10rem;
}
.form-inscription-ya {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.firstname {
  width: 85%;
  padding: 5px;
  font-size: 20px;
  color: #070707;
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid black;
  background: transparent;
}
.lastname {
  width: 85%;
  padding: 5px;
  font-size: 20px;
  color: #070707;
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid black;
  background: transparent;
}

.email {
  width: 85%;
  padding: 5px;
  font-size: 20px;
  color: #070707;
  margin-bottom: 35px;
  border: none;
  border-bottom: 3px solid black;
  background: transparent;
}

.password {
  width: 85%;
  padding: 5px;
  font-size: 20px;
  color: #070707;
  margin-bottom: 35px;
  border: none;
  border-bottom: 3px solid black;
  background: transparent;
}

.phonenumber {
  width: 80%;
  padding: 5px;
  font-size: 20px;
  color: #070707;
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid black;
  background: transparent;
}

.matricule {
  width: 85%;
  padding: 3px;
  font-size: 20px;
  color: #070707;
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid black;
  background: transparent;
}

.pickerdate {
  width: 160px;
  padding: 5px;
  font-size: 20px;
  color: #070707;
  margin-bottom: 30px;
  border: none;
  background: transparent;
}
.embauche {
  display: block;
  font:
    1rem "Fira Sans",
    sans-serif;
  border-bottom: 3px solid black;
}

.ligne-btn-inscription {
  margin-left: 4rem;
  border-top: 3px solid #000000;
  overflow: visible;
  text-align: center;
  width: 6.3rem;
}

.pickerdate,
.embauche {
  margin: 0.4rem 0.4rem;
  background-color: transparent;
  border-radius: 2px;
}

.introduction {
  margin-top: 3rem;
  background: #a59580;
  color: #070707;
}

/*upload*/
.fileUpload {
  margin-top: 3rem;
  background: #a59580;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #070707;
  font-size: 1em;
  font-weight: bold;
  margin: 1.25em auto; /*20px/16px 0*/
  overflow: hidden;
  padding: 0.875em; /*14px/16px*/
  position: relative;
  text-align: center;
  width: 120px;
  cursor: pointer;
}
.fileUpload:hover,
.fileUpload:active,
.fileUpload:focus {
  background: #a59580;
  cursor: pointer;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 148px;
  height: 46px;
  cursor: pointer;
}

input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
  margin-bottom: 1rem;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/*upload*/

.validation-inscription {
  width: 6rem;
  height: 2rem;
  color: white;
  background-color: #557cae;
  border-radius: 1rem;
  margin-top: 1rem;
  font-size: 95%;
}

.rayinscrir {
  margin: 2rem 0 0 -0.1rem;
  width: 13rem;
  height: 12rem;
}
