.home,
.search,
.profile,
.following {
  height: 4rem;
  width: 4rem;
}
.home button,
.search button,
.profile button,
.following button {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  background-color: transparent;
  border: none;
  margin-top: 0.5rem;
}

.mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: black;
  background-color: #8d7b64;
  width: 100%;
  height: 4rem;
}

.nav_head {
  margin-top: 0;
}

.Ajustement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem auto;
  background-color: #ad9d8b;
  height: 35vh;
  width: 85%;
  border-radius: 10%;
}

.Annonce_filtre_Domaine {
  font-size: 2.5rem;
}
.Menu_Selection_déroulant {
  display: flex;
  justify-content: space-evenly;
}

.Selection {
  width: 30%;
  padding: 0 10px;
  font-size: 17px;
}
.Affiche_La_Recherche {
  margin-top: 1rem;
}
