.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.annonce {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 150px;

  overflow: scroll;

  /* overflow-y: hidden;
  overflow-x: hidden; */
  padding-top: 2rem;
  padding-bottom: 6rem;
  margin-left: 2%;
}

/* @media (min-width: 500px) {
  .homepage {
    width: 100vw;
  }
  .row {
    flex: 400px;
    width: 100vw;
  }
} */

/* @media screen and (max-width: 768px) {
  

  .annonce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    width: 100%;
    /* overflow: scroll; */
/* margin-bottom: 2rem; */

/* overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 2rem;
    padding-bottom: 6rem; */

/* overflow-x: visible;
    overflow-x: auto;  */
