.logo {
  width: 5rem;
  height: 5rem;
  padding-left: 6%;
}

.logo2 {
  width: 5rem;
  height: 5rem;
  padding-right: 6%;
}

.entete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
