.block_header {
  padding: 2%;
}

.logo_header {
  display: flex;
  justify-content: space-between;
}

.logo_rf {
  width: 94px;
  height: 6rem;
}

.profil_img_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photoprofil {
  width: 78px;
  height: 88px;
  border: 5px solid #ad9d8b;
  border-radius: 50%;
  padding: 7px;
  margin-top: -3rem;
}
.profilname {
  font-size: 20px;
  margin: 10px 0 0 0;
}
.logo_rayj {
  height: 5rem;
  margin-left: 56%;
  width: 22%;
}

.butbutprofil {
  width: 36%;
  height: 3rem;
  color: white;
  background-color: #557cae;
  border-radius: 2rem;
  font-size: 100%;
  font-weight: bold;
}

.lesbuttons {
  width: 100%;
  display: flex;
  gap: 13%;
  align-items: center;
  margin-top: 0.5rem;
}

.button-precedent {
  width: 5rem;
  height: 4.2rem;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.flecheprec {
  width: 47%;
  height: 4.3rem;
}
