.candidate {
  width: 9rem;
  height: 3rem;
  background-color: #557cae;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.textcandidate {
  font-size: small;
  color: white;
  margin-bottom: 1rem;
}
