.offersannonces {
  border: 2px solid black;
  width: 16rem;
  height: 45rem;
  border-radius: 10px;
  background-color: #ad9d8b;
  flex-direction: column;
  width: 15rem;
}
.domaine,
.jobs,
.city {
  padding: 0px 0px 10px 5px;
  border: none;
}

.choicejobs {
  width: 13.7rem;
}

.descriptionoffers {
  padding: 0px 0px 10px 5px;
}
